In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-regioni/dpc-covid19-ita-regioni.csv")
dfMolise = df.loc[df['denominazione_regione'] == "Molise"]
dfSardegna = df.loc[df['denominazione_regione'] == "Sardegna"]

In [2]:
dfMolise.head()

,data,stato,codice_regione,denominazione_regione,lat,long,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,...,note,ingressi_terapia_intensiva,note_test,note_casi,totale_positivi_test_molecolare,totale_positivi_test_antigenico_rapido,tamponi_test_molecolare,tamponi_test_antigenico_rapido,codice_nuts_1,codice_nuts_2
10,2020-02-24T18:00:00,ITA,14,Molise,41.557748,14.659161,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2020-02-25T18:00:00,ITA,14,Molise,41.557748,14.659161,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,2020-02-26T18:00:00,ITA,14,Molise,41.557748,14.659161,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,2020-02-27T18:00:00,ITA,14,Molise,41.557748,14.659161,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,2020-02-28T18:00:00,ITA,14,Molise,41.557748,14.659161,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
dfSardegna.head()

,data,stato,codice_regione,denominazione_regione,lat,long,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,...,note,ingressi_terapia_intensiva,note_test,note_casi,totale_positivi_test_molecolare,totale_positivi_test_antigenico_rapido,tamponi_test_molecolare,tamponi_test_antigenico_rapido,codice_nuts_1,codice_nuts_2
15,2020-02-24T18:00:00,ITA,20,Sardegna,39.215312,9.110616,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,2020-02-25T18:00:00,ITA,20,Sardegna,39.215312,9.110616,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,2020-02-26T18:00:00,ITA,20,Sardegna,39.215312,9.110616,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,2020-02-27T18:00:00,ITA,20,Sardegna,39.215312,9.110616,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,2020-02-28T18:00:00,ITA,20,Sardegna,39.215312,9.110616,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
dfMolise = dfMolise.drop(columns=['note', 'note_test', 'note_casi'])
dfSardegna = dfSardegna.drop(columns=['note', 'note_test', 'note_casi'])

In [5]:
dfMolise.to_csv('dpc-covid19-ita-molise.csv', index=False)
dfSardegna.to_csv('dpc-covid19-ita-sardegna.csv', index=False)